body{
  background-image: url(../public/image7.png);
  background-size: cover;
}
.salam{
  background-color: rgb(119, 119, 119);
  width: 700px;
  border-radius: 14px;
  background-color: black;
  margin: auto;
}